p{
    background-color: #ff9332;
    color: white;
    
}
.grafikon{
    background-color: #ff9332;
}
.podela{
    /* background-color: #eeee; */
    background-color: #ff9332;

   
    width: 30vw;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;   
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.logo{
   width: 60%;
   height: 200px;
    
}